# SUMMER ANALYTICS 2024

# Week-1 Assignment

# **Gotta catch 'em all !**

![download.jpg]()

**Welcome to your first assignment of Summer Analytics 2024! We hope you are excited to implement and test everything you have learnt up until now. The dataset which you'll use includes information about Pokemons.**

**We've got an interesting set of questions for you to get a basic understanding of pandas and data visualization libraries. GOOD LUCK!**


***Let's get started with importing numpy, pandas, seaborn and matplotlib!***

Note - matplotlib should be imported with the command :

 `import matplotlib.pyplot as plt`

### 1) Start by importing all important libraries
For eg, "import numpy as np"

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### 2) Read the csv file and assign it to a variable .

In [2]:
#your code here
pokemons = pd.read_csv('SA2024_W1_Pokemon.csv')
pokemons

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

### 3) Display shape of dataframe
Expected Output - (800, 13)

In [3]:
#your code here
pokemons.shape

(800, 13)

### 4) Print all columns of dataframe
Return an array containing names of all the columns.

In [5]:
#your code here
pokemons.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

### 5) Remove the column '#' and update the dataframe.

In [6]:
#your code here
pokemons.drop('#',axis=1,inplace=True)
pokemons

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

### 6) Set the 'Name' column as the index of dataframe

In [7]:
#your code here
pokemons.set_index(['Name'],inplace=True)
pokemons

,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,
Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

###  7) Print a list of all the unique Type-1 powers

In [8]:
#your code here
pokemons['Type 1'].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

### 8) Create a column which contains the Type 1 and Type 2 abilities of pokemons, seperated with a '+'' sign. Also, display the no. of pokemons that have type-1 power as 'Psychic' and type 2 power as 'Flying' using this new column.

In [9]:
#your code here
pokemon1 = pokemons['Type 1']+ '+'+pokemons['Type 2']
pokemons['combined']=pokemon1
count=pokemons['combined'] == 'Psychic+Flying'
count.sum()

6

## GRADED Questions (To be answered in the quiz)
### Try to retrieve some information from the data and answer the questions below . BEST OF LUCK !!

### 1. How many pokemons have 'Mega' in their name?

In [4]:
#your code here
pokemons.reset_index(inplace=True)
pokemons
pokemons['Name'].str.contains('Mega').sum()

49

### 2. What is the standard deviation of Sp. Def. in the dataset ?

In [5]:
#your code here
pokemons['Sp. Def'].std()

27.82891579711745

### 3. What percentage (upto 3 decimal places) of pokemons are legendary ?

In [6]:
#your code here
pokemons['Legendary'].sum()*100/800

8.125

### 4. Name the pokemon(s) with Maximum Defense.

In [7]:
#your code here
pokemons['Defense'].sort_values(ascending=False)
pokemons['Defense'].max()
pokemons.loc[pokemons['Defense']==230,'Name']

224    SteelixMega Steelix
230                Shuckle
333      AggronMega Aggron
Name: Name, dtype: object

### 5. Which poison pokemon has the strongest attack ?

In [8]:
#your code here
poison=pokemons.loc[:,['Name','Type 1','Type 2','Attack']]
poison
poison1=poison.loc[poison['Type 1']=='Poison',:]
poison1.groupby('Name').Attack.max()

Name
Arbok         85
Croagunk      61
Crobat        90
Dragalge      75
Drapion       90
Ekans         60
Garbodor      95
Golbat        80
Grimer        80
Gulpin        43
Koffing       65
Muk          105
Nidoking     102
Nidoqueen     92
Nidoran♀      47
Nidoran♂      57
Nidorina      62
Nidorino      72
Seviper      100
Skorupi       50
Skrelp        60
Skuntank      93
Stunky        63
Swalot        73
Toxicroak    106
Trubbish      50
Weezing       90
Zubat         45
Name: Attack, dtype: int64

In [9]:
poison2=poison.loc[poison['Type 2']=='Poison',:]
poison2.groupby('Name').Attack.max()

Name
Amoonguss                 85
Ariados                   90
Beedrill                  90
BeedrillMega Beedrill    150
Bellsprout                75
Budew                     30
Bulbasaur                 49
Dustox                    50
Foongus                   55
Gastly                    35
Gengar                    65
GengarMega Gengar         65
Gloom                     65
Haunter                   50
Ivysaur                   62
Kakuna                    25
Oddish                    50
Qwilfish                  95
Roselia                   60
Roserade                  70
Scolipede                100
Spinarak                  60
Tentacool                 40
Tentacruel                70
Venipede                  45
Venomoth                  65
Venonat                   55
Venusaur                  82
VenusaurMega Venusaur    100
Victreebel               105
Vileplume                 80
Weedle                    35
Weepinbell                90
Whirlipede                55
Name: Attack, dtype: int64

### 6. Using seaborn make different types of plots, observe the trend and answer the questions given in the form.

In [16]:
#your code here
code=pokemons.loc[pokemons['Legendary']==True,['Generation','Legendary']]
code['Generation'].value_counts()

Generation
3    18
5    15
4    13
6     8
1     6
2     5
Name: count, dtype: int64

In [17]:
pokemons['Generation'].value_counts()

Generation
1    166
5    165
3    160
4    121
2    106
6     82
Name: count, dtype: int64

In [25]:
code1=pokemons.loc[:,['Type 1','Type 2']]
code2=code1[code1['Type 1']=='Psychic']
code3=code2[code2['Type 2']=='Flying']
code3

      Type 1  Type 2
191  Psychic  Flying
192  Psychic  Flying
269  Psychic  Flying
586  Psychic  Flying
587  Psychic  Flying
622  Psychic  Flying

In [11]:
pokemons['Type 1'].value_counts()

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

In [26]:
pokemons['Type 2'].value_counts()

Type 2
Flying      97
Ground      35
Poison      34
Psychic     33
Fighting    26
Grass       25
Fairy       23
Steel       22
Dark        20
Dragon      18
Water       14
Ghost       14
Ice         14
Rock        14
Fire        12
Electric     6
Normal       4
Bug          3
Name: count, dtype: int64

In [ ]:
#your code here

In [ ]:
#your code here

### 7. Which is the second fastest non-legendary 'Ghost' type pokemon from 4th generation ?

In [36]:
#your code here
ghost=pokemons.loc[pokemons['Generation']==4,['Name','Type 1','Type 2','Legendary','Speed']]
ghost
ghost1=ghost.loc[ghost['Type 1']=='Ghost',:]
ghost1

                      Name Type 1  Type 2  Legendary  Speed
472               Drifloon  Ghost  Flying      False     70
473               Drifblim  Ghost  Flying      False     80
477              Mismagius  Ghost     NaN      False    105
490              Spiritomb  Ghost    Dark      False     35
529               Dusknoir  Ghost     NaN      False     45
544  GiratinaAltered Forme  Ghost  Dragon       True     90
545   GiratinaOrigin Forme  Ghost  Dragon       True     90

In [41]:
ghost2=ghost.loc[:,ghost['Type 2']=='Ghost']
ghost2

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [40]:
pokemons[pokemons['Type 2']=='Ghost']

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
316,292,Shedinja,Bug,Ghost,236,1,90,45,30,30,40,3,False
326,302,Sableye,Dark,Ghost,380,50,75,75,65,65,50,3,False
327,302,SableyeMega Sableye,Dark,Ghost,480,50,85,125,85,115,20,3,False
530,478,Froslass,Ice,Ghost,480,70,80,70,80,70,110,4,False
531,479,Rotom,Electric,Ghost,440,50,50,77,95,77,91,4,False
653,592,Frillish,Water,Ghost,335,55,40,50,65,85,40,5,False
654,593,Jellicent,Water,Ghost,480,100,60,70,85,105,60,5,False
683,622,Golett,Ground,Ghost,303,59,74,50,35,50,35,5,False
684,623,Golurk,Ground,Ghost,483,89,124,80,55,80,55,5,False
748,679,Honedge,Steel,Ghost,325,45,80,100,35,37,28,6,False
749,680,Doublade,Steel,Ghost,448,59,110,150,45,49,35,6,False
750,681,AegislashBlade Forme,Steel,Ghost,520,60,150,50,150,50,60,6,False
751,681,AegislashShield Forme,Steel,Ghost,520,60,50,150,50,150,60,6,False
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True

### 8. How many non-legendary pokemons have stronger defence but weaker attack than Charizard?

In [15]:
#your code here
non_legendary=pokemons.loc[pokemons['Legendary']==False,['Name','Defense','Attack','Legendary','Speed']]
charizard=pokemons[pokemons['Name']=='Charizard']
pok = non_legendary.loc[:,['Name','Defense','Attack']]
pok.set_index(['Name'],inplace=True)
charizard.set_index(['Name'],inplace=True)
pok1=pok[pok['Defense']>78]
pok1[pok1['Attack']<84]

                     Defense  Attack
Name
Venusaur                  83      82
Wartortle                 80      63
Blastoise                100      83
PidgeotMega Pidgeot       80      80
Sandshrew                 85      75
...                      ...     ...
Clawitzer                 88      73
Carbink                  150      50
Klefki                    91      80
Bergmite                  85      69
Noivern                   80      70

[116 rows x 2 columns]

In [14]:
pokemons[pokemons['Defense']>78].shape

(310, 14)


## *Congratulations on coming this far! Since we were having so much fun playing with this dataset, here are some bonus questions that you can try to further deepen your understanding of the topic!*

### **Note:** These questions are UNGRADED, and are given as an extra exercise.

### Which pokemon has the highest combined value of Attack and Sp. Atk ?

In [19]:
#your code here
pokemons['comb']=pokemons['Attack']+pokemons['Sp. Atk']
pokemons.set_index('Name',inplace=True)
pokemons['comb'].sort_values(ascending=False)

Name
DeoxysAttack Forme       360
RayquazaMega Rayquaza    360
MewtwoMega Mewtwo X      344
MewtwoMega Mewtwo Y      344
KyogrePrimal Kyogre      330
                        ...
Marill                    40
Feebas                    25
Magikarp                  25
Shuckle                   20
Happiny                   20
Name: comb, Length: 800, dtype: int64

### Which type of legendary pokemons are the most common?

In [23]:
#your code here
pokleg=pokemons.loc[pokemons['Legendary']==True,:]
pokleg
pokleg['Type 1'].value_counts()

Type 1
Psychic     14
Dragon      12
Fire         5
Electric     4
Water        4
Rock         4
Steel        4
Ground       4
Grass        3
Ice          2
Normal       2
Ghost        2
Dark         2
Flying       2
Fairy        1
Name: count, dtype: int64

In [24]:
pokleg['Type 2'].value_counts()

Type 2
Flying      13
Psychic      5
Fighting     4
Dragon       4
Fire         3
Ice          3
Fairy        2
Steel        1
Electric     1
Ground       1
Ghost        1
Dark         1
Water        1
Name: count, dtype: int64

In [25]:
pokemons

,index,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,comb
Name,,,,,,,,,,,,,,
Bulbasaur,0,1,Grass,Poison,318,45,49,49,65,65,45,1,False,114
Ivysaur,1,2,Grass,Poison,405,60,62,63,80,80,60,1,False,142
Venusaur,2,3,Grass,Poison,525,80,82,83,100,100,80,1,False,182
VenusaurMega Venusaur,3,3,Grass,Poison,625,80,100,123,122,120,80,1,False,222
Charmander,4,4,Fire,NaN,309,39,52,43,60,50,65,1,False,112
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Diancie,795,719,Rock,Fairy,600,50,100,150,100,150,50,6,True,200
DiancieMega Diancie,796,719,Rock,Fairy,700,50,160,110,160,110,110,6,True,320
HoopaHoopa Confined,797,720,Psychic,Ghost,600,80,110,60,150,130,70,6,True,260
HoopaHoopa Unbound,798,720,Psychic,Dark,680,80,160,60,170,130,80,6,True,330
Volcanion,799,721,Fire,Water,600,80,110,120,130,90,70,6,True,240

### How many generation-3, non-legendary pokemons have higher HP than the weakest generation-6, legendary pokemon?

In [37]:
#your code here
pokgen6=pokemons.loc[pokemons['Generation']==6,:]
pokgen6
pokgen6weak=pokgen6.loc[pokgen6['Legendary']==True,:]
gen6_weak=pokgen6weak['HP'].min()
gen6_weak
pok_gen_3=pokemons.loc[pokemons['Generation']==3,:]
pokgen3=pok_gen_3.loc[pok_gen_3['Legendary']==False,:]
pokgen3
pokgen3[pokgen3['HP']>gen6_weak].shape

(95, 14)

### Print out the third slowest pokemon(s) in the dataset.

In [45]:
#your code here
pokemon_second=pokemons.loc[pokemons['Speed']!=5,:]
pokemon_third=pokemon_second.loc[pokemon_second['Speed']!=10,:]
pokemon_third['Speed'].min()
pokemon_third[pokemon_third['Speed']==15]

,index,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,comb
Name,,,,,,,,,,,,,,
Slowpoke,85,79,Water,Psychic,315,90,65,65,40,40,15,1,False,105
Cleffa,187,173,Fairy,NaN,218,50,25,28,45,55,15,2,False,70
Igglybuff,188,174,Normal,Fairy,210,90,30,15,40,20,15,2,False,70
Wooper,209,194,Water,Ground,210,55,45,45,25,25,15,2,False,70
Pineco,219,204,Bug,NaN,290,50,65,90,35,35,15,2,False,100
Silcoon,289,266,Bug,NaN,205,50,35,55,25,25,15,3,False,60
Cascoon,291,268,Bug,NaN,205,50,35,55,25,25,15,3,False,60
Roggenrola,583,524,Rock,NaN,280,55,75,85,25,25,15,5,False,100
Foongus,651,590,Grass,Poison,294,69,55,45,55,55,15,5,False,110

### Which pokemon type has the highest average HP?

In [47]:
#your code here
max_hp=pokemons['HP'].max()
pokemons[pokemons['HP']==max_hp]

,index,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,comb
Name,,,,,,,,,,,,,,
Blissey,261,242,Normal,NaN,540,255,10,10,75,135,55,2,False,85